/* Шапка */

.header {
    display: grid; 
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 92px 24px 96px 24px;
    min-height: 105px;
    font-size: 18px;
    letter-spacing: 0.18px;
}

.header__menu {
    padding-top: 4.5px;
    padding-left: 23px;
}

.header__links-list {
    display: flex;
    max-width: 456px;
    gap: 29px;
    text-underline-offset: 4px;
    list-style-type: circle;
}

.header__links-list-item {
    padding-left: 3px;
}

.header__link_active .header__link {
    text-decoration: none; 
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: block;
    width: 148px; 
    height: 105px; 
}

.header__logo-image {
    width: 100%;
    height: 100%;
}

.address {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    place-content: center end;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
    text-underline-offset: 4.5px;
}

.contact__info {
    width: 450px;
    padding: 2px 57px 0 0;
}

/* Секция */

.cover {
    min-height: 757px;
    background: url(../images/cover.jpg);
    position: relative;
    background-size: cover;
    z-index: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
    opacity: 0.6;  
    z-index: 1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    padding: 165px 20px 135px 50px;
    gap: 20px;
    font-size: 100px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    color: #FFF;
}

.aligned-text {
    display: flex;
    justify-content: start;
    letter-spacing: 30px;
    line-height: 1.15;
    z-index: 2;
}

.aligned-text_center {
    display: flex;
    justify-content: center;
    padding-right: 58px;
    letter-spacing: 30px;
    line-height: 1;
    z-index: 2;
}

.aligned-text_right {
    display: flex;
    justify-content: end;
    letter-spacing: 30px;
    line-height: 1;
    z-index: 2;
}

.letter-spacing-extended {
    display: inline;
    padding-left: 30px; 
}

.cover__description {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0 50px 52px 78px;
    font-size: 15px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFF; 
}

.cover__description-text {
    display: inline-block;
    align-items: flex-start;
    padding-top: 12px;
    font-weight: lighter;
    word-spacing: 17px;
    z-index: 2;
}

.bet-button {
    border: 1px solid #FFF;
    padding: 12px 32px 11px 31px;
    background: transparent;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 2;
    color: #FFF;
}

/* Лоты */

.lots {
    margin: 178px 24px 0px 24px;
    max-width: 1052px;
    min-height: 692px;
}

.lots__heading {
    padding: 0 0 27px 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    min-height: 563px;
    flex-grow: 1;
}

.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 51px 40px 48px;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg);
    height: 100%;
    z-index: 0;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg);
    height: 100%;
    z-index: 0;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg);
    height: 100%;
    z-index: 0;
}

.card__title {
    min-height: 82px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-decoration-line: underline;
    text-transform: uppercase;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    z-index: 2;
    color: #FFF;
}

.card__text {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    z-index: 2;
    color: #FFF;
}

.lots__look-more-link {
    display: inline-block;
    padding: 29px 0 0 40px;
    font-size: 20px;
    font-style: normal;
    text-underline-offset: 4px;
}

/* Об аукционе*/

.about {
    min-height: 595px;
    width: 1052px;
    padding: 146px 24px 0;
}

.about__column {
    display: flex;
    padding: 35px 0 0 47px ;
}

.about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    display: inline-block;
    min-height: 47px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    padding: 101px 0 0 72px;
}

.about__text {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 360px auto;
    text-align: start;
    padding-top: 8px;
    row-gap: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.block__1 {
    grid-column-start: 2;
    grid-column-end: 3;
    min-height: 120px;
    width: 688px;
}

.block__2 {
    grid-column-start: 2;
    grid-column-end: 3;
    min-height: 168px;
    width: 693px;
}

.footer {
    display: flex;
    justify-content: flex-start;
    padding: 180px 50px 88px;
    min-height: 81px;
}

.footer__menu {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 597px;
    padding-top: 2px;
    list-style: none;
    text-underline-offset: 3px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    width: 200px;
    gap: 49px;
}

.footer__social-list-item {
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}